<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>C-Vinyl</title>
    {% endif %}

    <!-- Custom fonts for this template-->
    <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{url_for('static',filename='css/home.css')}}" rel="stylesheet">
    

</head>

<body>
    <header>
        <!-- Boton menu desplegable -->
        <div class="mobile-menu-button" onclick="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <!-- opciones menu desp -->
        <ul class="mobile-menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="#">Géneros</a>
                <ul>
                    <li><a href="#">Pop</a></li>
                    <li><a href="#">Rock</a></li>
                    <li><a href="#">Electrónica</a></li>
                </ul>
            </li>
            <li><a href="#">Custom</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Cuenta</a>
                <ul>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="{{url_for('main.carrito')}}">Carrito</a></li>
                    <li><a href=href="{{ url_for('auth.login') }}">Cerrar Sesion</a></li>
                </ul>
            </li>
        </ul>
  
        <div class="logo">
            <img src="{{url_for('static',filename='img/logotmp.png')}}" alt="Logo de la Tienda">
        </div>
        <input type="text" class="search-bar" placeholder="Buscar">
        <nav>
            <ul>
                <li><a href="{{url_for('main.home')}}">Home</a></li>
                <li>
                    <a href="#">Géneros</a>
                    <ul>
                        <li><a href="#">Pop</a></li>
                        <li><a href="#">Rock</a></li>
                        <li><a href="#">Electrónica</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Custom</a>
                    <ul>
                        <!-- Elementos vacíos por ahora -->
                        <li><a href="#"> </a></li>
                        <li><a href="#"> </a></li>
                        <li><a href="#"> </a></li>
                    </ul>
                </li>
                <li><a href="{{url_for('main.faq')}}">Soporte</a></li>
                <li class="account">
                    <a href="#">Cuenta</a>
                    <ul>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="{{url_for('main.carrito')}}">Carrito</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{url_for('static',filename='js/sb-admin-2.min.js')}}"></script>

</body>

</html>