{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carrito.css') }}">
<div class="album">
    <h2>Álbum 1</h2>
    <p>Descripción del álbum 1.</p>
    <p>Precio: $10.00</p>
    <button class="btn-comprar" onclick="agregarAlCarrito('Álbum 1', 10.00)">Agregar al carrito</button>
</div>

<div class="album">
    <h2>Álbum 2</h2>
    <p>Descripción del álbum 2.</p>
    <p>Precio: $12.00</p>
    <button class="btn-comprar" onclick="agregarAlCarrito('Álbum 2', 12.00)">Agregar al carrito</button>
</div>

<div id="carrito">
    <h2>Carrito de Compras</h2>
    <ul id="lista-carrito"></ul>
    <p>Total: $<span id="total">0.00</span></p>
</div>

<script src="{{url_for('static', filename='js/carrito.js')}}"></script>




{% endblock %}