{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq.css') }}">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="faq-container">
        <h1>Frequently Asked Questions</h1>
        <ul class="faq-list" id="faqList">
            <!-- Preguntas y respuestas se llenarán aquí dinámicamente -->
        </ul>
        <button id="showMore" onclick="toggleQuestions()">Mostrar más preguntas</button>
    
    </div>
    <script src="{{url_for('static', filename='js/faq.js')}}"></script>
{% endblock %}
