{% extends "base.html" %}
{% block content %}
    <section class="seccion-vinilos">
        <h2 class="titulo">Busca tu álbum favorito!</h2>
        <div class="cuadro">
            <input type="text" class="search-barA" placeholder="Buscar entre cientos de álbumes" id="busquedaB">
            <button type="click" id="searchButton">Buscar!</button>
        </div>
        <div id="results">
            <!-- Resultados de búsqueda se mostrarán aquí -->
        </div>
    </section>

    <section class="seccion-vinilos">
        <h2 class="titulo">Nuevos Estrenos</h2>
        <div id="topAlbums">
            <!-- Álbumes más recientes se mostrarán aquí -->
        </div>
    </section>

    <section class="seccion-vinilos">
        <h2 class="titulo">Más vendidos</h2>
        <div id="recentAlbums">
            <!-- Álbumes más vendidos se mostrarán aquí -->
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}
