{% extends "base2.html" %}
{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <form method="POST" action="/register" id="registerForm" class="user">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" name="name" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="First Name" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" name="lastName" class="form-control form-control-user" id="exampleLastName"
                                    placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Email Address" required>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input name="password" type="password" class="form-control form-control-user"
                                    id="exampleInputPassword" placeholder="Password" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user"
                                    id="exampleRepeatPassword" placeholder="Repeat Password" required>
                            </div>
                        </div>
                        <button id="registerButton1" type="button" onclick="sendRequest()" class="btn btn-primary btn-user btn-block">
                            Register Account
                        </button>
                        <hr>
                        <button id="registerButton2" type="button" onclick="sendRequest()" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </button>
                        <button id="registerButton3" type="button" onclick="sendRequest()" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{{url_for('main.forgotpwd')}}">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{{url_for('auth.login')}}">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/register.js')}}"></script>
{% endblock %}