body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.album {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#carrito {
    border: 1px solid #333;
    padding: 10px;
    margin-top: 20px;
}

#carrito h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#carrito ul {
    list-style-type: none;
    padding: 0;
}

#carrito li {
    margin-bottom: 10px;
}

.btn-comprar {
    background-color: rgb(255, 200, 50);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-comprar:hover {
    background-color: rgb(172, 136, 37);
}