/* Reset some default styles */
body, h1, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a pastel yellow background color and use the Roboto font */
body {
  background-color: #f5ece1; /* Pastel yellow background */
  font-family: Arial, sans-serif; /* Use the Roboto font */
}

h1 {
  color: #000000;
  font-size: 40px;
}

/* Style links */
a {
  color: #007bff;
}

/* Center the FAQ container and add some spacing */
.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the FAQ bubble container */
.faq-bubble {
  position: relative;
  background-color: rgb(255, 200, 50);
  color: #000000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.faq-bubbleO {
  position: relative;
  background-color: rgb(255, 200, 50);
  color: #000000;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
}

/* Create a triangular arrow for the bubble */
.faq-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333;
  top: -10px;
  left: 10px;
}

/* Style the FAQ questions and answers (inside the bubbles) */
.faq-question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-answer {
  font-size: 16px;
  display: none;
}

/* Add hover effect to the questions */
.faq-question:hover {
  color: #e5ff86;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .faq-container {
    padding: 10px;
  }

  h1 {
    font-size: 40px;
  }
  .faq-question {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .faq-answer {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .faq-bubble {
    margin: 10px;
    padding: 10px; /* Adjust padding for smaller screens */
  }
  ul {
    padding-left: 15px; /* Add padding to the left of the list items */
  }
}
