header {
    background-color: rgb(255, 200, 50);
    color: #333;
    padding: 15px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    background-color: rgb(255, 200, 50);
    color: #333;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.mobile-menu-button {
    display: none;
  }
.mobile-menu {
    display: none;
  }

.logo img {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100px;
}

/* elementos del header */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    visibility: visible;
}

/* Espaciado entre elementos */
nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 10px 0;
}

nav ul li ul li {
    margin: 0;
}

nav ul li ul li a {
    color: #fff; /* Lista en Genero */
}

/* enlaces */
a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active {
    background-color: transparent;
    color: inherit;
    outline: none;
}

.search-bar {
    margin-right: 20px;
    width: 400px;
    padding: 5px;
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
}

/* Estilo para la barra de búsqueda */
.search-barA {
    width: 100%;
    max-width: 800px; /* Ancho máximo para evitar que la barra de búsqueda sea demasiado ancha en pantallas grandes */
    padding: 10px;
    border: 1px solid rgb(255, 200, 50);
    border-radius: 5px;
    margin: 0 auto; /* Centrar la barra de búsqueda horizontalmente */
}

/* Estilo para hacer que la barra de búsqueda sea responsiva en pantallas pequeñas */
@media (max-width: 768px) {
    .search-barA {
        max-width: 100%; /* Ocupar el ancho completo en pantallas pequeñas */
    }
}

/* Nuevos Estrenos */

.seccion-vinilos {
    text-align: center;
    padding: 40px 0;
    background-color: #f9f9f9;
    margin-top: 100px;
}

.titulo {
    font-size: 50px;
    margin-bottom: 50px;
}

.cuadro {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 0 20px;
    text-align: center;
}

.cuadro img {
    max-width: 100%;
}

.descripcion {
    margin-top: 10px;
}

.btn-carro {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-carro:hover {
    background-color: #555;
}

/* Estilos para pantallas pequenias */
  @media (max-width: 800px) {
    .mobile-menu-button {
      display: block;
      cursor: pointer;
      padding: 10px;
      background-color: rgb(255, 200, 50);
      color: #333;
    }
    
    .mobile-menu-button span {
      display: block;
      height: 3px;
      width: 25px;
      background-color: #333;
      margin: 4px auto;
      transition: 0.4s;
    }
    
    .mobile-menu li {
      padding: 10px;
      text-align: center;
    }
    
    /* Estilos para mostrar el menú desplegable */
    .mobile-menu.active {
      display: block;
      left: 0;
    }
    
    .mobile-menu {
        list-style: none;
        padding: 0;
        background-color: rgb(255, 200, 50);
        position: absolute;
        top: 60px; /* Ajusta según la altura de tu header */
        left: -200px;
        width: 200px;
        transition: 0.4s;
      }
      
    nav ul li ul {
        display: block;
        position: static;
        background-color: transparent;
        padding: 0;
    }
    
    /* Ocultar la lista principal en dispositivos móviles */
    nav ul {
        display: none;
    }
    
}