.index-body {
    width: 855px;
    margin: auto;
    background: ivory;
    font-size: 100%;
    font-family: sans-serif;
}

header {
  overflow: auto;
  border-bottom: 1px solid darkslategray;
}

h1 {
  float: left;
}


header p {
  float: right;
  width: 570px;
  font-style: italic;
  margin-top: 10px;
}

main {
  overflow: auto;
  padding: 30px 0;
  border-bottom: 1px solid darkslategray;
}


.comment-input {
  float: left;
  width: 285px;
}

.comment-input p {
  margin-bottom: 10px;
}

.comment-input input {
  width: 80%;
  height: 30px;
  font-size: 1.2em;
  font-weight: bold;
}

.comment-input button {
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  color: ivory;
  background: olivedrab;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 5px;
}

.comments {
  float: right;
  width: 570px;
}

.comments p {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comments p:nth-child(even) {
    background: lavender;
}

.comments p:nth-child(odd) {
    background: gainsboro;
}

footer {
    font-size: smaller;
    margin-top: 5px;
    clear: both;
}
